@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
/* Configuração global a fim de deixar o site mais organizado */
* {
    padding: 0;
    margin: 0;
}
/* Paleta de cores e fontes usando variáveis em CSS */
:root {
    --cor1: #F56A3D;
    --cor2: #FF5240;
    --cor3: #E94662;
    --cor4: #FF40BF;
    --cor5: #E43DF5;
    --corfontepadrao: #4C4C4C;
    --fonte-destaque: 'Dancing Script', cursive;
    --fonte-padrao: Arial, Verdana, Helvetica, Sans-Serif;
}
body {
    font-family: var(--fonte-padrao);
}
h2 {
    font-size: 1.6em;
    font-weight: normal;
    color: var(--corfontepadrao);
    margin: 20px 20px 20px 110px;
}
.receita {
    font-size: 2.2em;
    color: #2f2e2e;
    margin: 20px 20px 30px 20px;
}
header {
    background-color: var(--cor3);
    font-family: var(--fonte-destaque);
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 1.5em;
}
nav {
    margin: 10px;
}
nav > button {
    margin: 10px 20px 10px 10px;
    font-size: 1.1em;
    border: none;
    background-color: white;
    color: rgba(0, 0, 0, 0.473);
}
main {
    padding: 25px;
    margin: auto;
}
ul, ol {
    font-size: 1em;
    font-weight: normal;
    color: var(--corfontepadrao);
    line-height: 2em;
    margin: 0px 0px 0px 110px;
}
div#separacao {
    background-image: linear-gradient(to right, var(--cor1), #ff534044);
    height: 25px;
}
/* Breakpoints */
/* A partir de 650px ou mais uma parte do conteúdo para tela pequena desaparece */
@media (min-width: 650px) {
    nav, #teladocelular {
        display: none;
    }
}
/* De 650px pra baixo a parte do conteúdo para tela grande desaparece */
@media (max-width: 650px) {
    #teladopc {
        display: none;
    }
    /* Quando muda o tamanho de tela para tela pequena pela primeira vez, só mostra a tela de ingredientes, e esconde a tela modo de preparo. */
    nav, #ingredientescelular {
        display: block;
    }
    #mododepreparocelular {
        display: none;
    }
}

footer {
    background-color: var(--cor2);
    text-align: center;
    color: white;
    margin-top: 70px;
    padding: 10px;
}